{
	"extends": [
		"react-app",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended",
		"plugin:prettier/recommended"
	],
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": "error",
		"react/jsx-uses-react": "off",
		"react/react-in-jsx-scope": "off",
		"@typescript-eslint/no-namespace": "off"
	},
	"parserOptions": {
		"ecmaVersion": 2020
	}
}
