@font-face {
	font-family: 'open_sansregular';
	src: url('./assets/fonts/opensans/OpenSans-Regular-webfont.eot');
	src: url('./assets/fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
		url('./assets/fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
		url('./assets/fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('./assets/fonts/montserrat/Montserrat-SemiBold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

/*!
 * Web Fonts from Fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2019 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      exljbris Font Foundry
 * License URL: https://www.fontspring.com/licenses/exljbris/webfont
 *
 *
 */

@font-face {
	font-family: 'Museo_Slab_500_2';
	src: url('./assets/fonts/museoslab/museoslab.woff2') format('woff2'), url('./assets/fonts/museoslab/museoslab.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
